@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100%;
}

body {
    background-color: #EDF6F7;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Monserrat", sans-serif;
}

header {
    background-color: white;
    padding: 1.25rem 2rem 1.25rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(92, 192, 188, 0.25);
}

.logo {
    color: #5CC0BC;
    font-size: 1.8rem;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav {
    color: #253237;
    font-size: 16px;
    text-decoration: none;
}

.nav:hover {
    color: #5CC0BC;
}

.fa-github {
    color: #253237;
    text-decoration: none;
    font-size: 22px !important;
}

.fa-github:hover {
    color: #5CC0BC;
}

.wrapper {
    padding: 4rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

button {
    all: unset;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    text-align: center;
    color: #253237;
    background-color: white;
    border: 1px solid #5CC0BC;
    border-radius: 5px;
    margin: -1px;
}

select {
    cursor: pointer;
    height: 2rem;
    width: 14rem;
    line-height: 2rem;
    color: #253237;
    background-color: white;
    border: none;
    outline: 1px solid #5CC0BC;
    border-radius: 5px;
}

select::after {
    outline: none;
}

#algorithm-list,
#random,
#run {
    font-size: 16px;
}

.container {
    display: flex;
    flex-grow: 1;
    align-items: end;
    justify-content: center;
}

#container {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 0.75rem;
}

#grid-row {
    display: flex;
    flex-direction: row;
}

#grid-row:not(:first-child) {
    margin-top: -1px;
}

#grid-item {
    height: 2rem;
    width: 2rem;
    background-color: white;
    border: 1px solid #5CC0BC;
}

#grid-item:not(:first-child) {
    margin-left: -1px;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
